body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: 400;
  font-size: 45px;
}

h4 {
  font-weight: 500;
}

p {
  font-size: 14px;
}